*.o
*.a
*.bak
.deps
cpu68k/cpu68k-*.c
cpu68k/def68k
cpu68k/gen68k
stamp-h.in
stamp-h1
*.stamp
autom4te.cache
Makefile.in
Makefile
mkinstalldirs
missing
aclocal.m4
compile
config.guess
config.h
config.h.in~
config.h.in
config.log
config.status
config.sub
configure
configure~
cpu68k/def68k-funcs.h
cpu68k/def68k-iibs.h
cpu68k/def68k-proto.h
depcomp
main/generator-*
glade/AUTHORS
glade/ChangeLog
glade/NEWS
glade/autogen.sh
glade/configure.in
glade/generator.gladep
glade/main.c
INSTALL
install-sh
